<div class="page-title">
  <div class="title_left">
    <h3>
      <small>Chức năng nhập sản phẩm vào kho</small>
    </h3>
  </div>
  <div class="title_right">
    <div class="col-md-3 col-sm-6 col-xs-12 form-group ">
      <input type="text" name="filter" [(ngModel)]="filterKeyword" class="form-control" placeholder="Tìm kiếm...">
    </div>
    <div class="col-md-9 col-sm-6 col-xs-12 form-group">
      <button class="btn btn-primary" type="button" (click)="search()">Tìm</button>
      <button class="btn btn-default" type="button" (click)="reset()">In hóa đơn</button>
      <button class="btn btn-success" type="button" (click)="deleteMulti()">Kiểm duyệt</button>
      <button class="btn btn-danger" type="button" (click)="deleteMulti()">Xóa</button>
      <button class="btn btn-warning" type="button" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Danh sách nhập kho</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Thêm mới</button>
          </li>
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>STT</th>
              <th>Kiểm duyệt</th>
              <th>Ngày tạo</th>
              <th>Mã code</th>
              <th>Tên nhà cung cấp</th>
              <th>Tổng tiền</th>
              <th>Ghi chú</th>
              <th>Người tạo</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let export of exports; let rowIndex=index">
              <td>{{rowIndex + 1}}</td>
              <td>
                  <span *ngIf="export.Censorship==true" class="badge bg-green">Kích hoạt</span>
                  <span *ngIf="export.Censorship==false" class="badge bg-red">Khóa</span>
              </td>
              <td>{{export.CreatedAt | date:'dd/MM/yyyy' }}</td>
              <td>{{export.Code}}</td>
              <td>{{export.SupplierName}}</td>
              <td>{{export.TotalAllMoney| number}}</td>
              <td>{{export.Note}}</td>
              <td>{{export.CreatedBy}}</td>
              <td>
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Cập nhật sản phẩm" (click)="showEdit(export.exportId)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger" data-placement="top" title="Cập nhật sản phẩm" (click)="deleteexport(export.exportId)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="exports && exports.length == 0" class="col-md-12">
            <div class="alert alert-info">
              <strong>Thông báo!</strong> Hiện tại chưa có sản phẩm nào trong hệ thống
            </div>
    
          </div>
          <div *ngIf="exports && exports.length > 0" class="col-md-12">
              <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow"
                [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            </div>
      </div>
    </div>
  </div>

  <!--Modal add and edit-->
  <div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Thêm/Sửa phiếu nhập kho</h4>
          <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <form class="form-horizontal form-label-left  show-box b-g" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm.valid)"
              *ngIf="entity">
              <div class="col-md-9">
                <div class="form-group">
                  <input type="hidden" [(ngModel)]="entity.exportId" name="id" />
                  <label class="col-md-2 col-sm-2 col-xs-12 m-top">Mã giao dịch</label>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <input type="text" readonly #referenceCode="ngModel" [(ngModel)]="entity.ReferenceCode" name="referenceCode" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 col-sm-2 col-xs-12 m-top">Tên nhà cung cấp</label>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <p-autoComplete (onSelect)="getSupplierAutocomplete($event)" name="supplier" [suggestions]="filteredSuppliersSingle" (completeMethod)="filterSupplierSingle($event)"
                      [(ngModel)]="suggestionSupplier" field="Name" #supplier="ngModel" required [size]="30" [minLength]="1"></p-autoComplete>
                    <small [hidden]="supplier.valid || (supplier.pristine && !addEditForm.submitted)" class="text-danger">
                      Yêu cầu nhập tên nhà cung cấp
                    </small>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 col-sm-2 col-xs-12 m-top">Địa chỉ</label>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <input type="text" #address="ngModel" readonly required [(ngModel)]="entity.Address" minlength="3" name="address" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 col-sm-2 col-xs-12 m-top">Diễn giải</label>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <input type="text" #note="ngModel" [(ngModel)]="entity.Note" name="note" class="form-control">
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group height-s">
                  <label class="col-md-5 col-sm-5 col-xs-12 m-top">Số phiếu</label>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <input type="text" [(ngModel)]="entity.Code" readonly name="code" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 col-sm-5 col-xs-12 m-top">Ngày lập phiếu</label>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <input type="text" [(ngModel)]="entity.CreatedAt" readonly name="createdAt" class="form-control">
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="title_text">
                  <h4 class="modal-title pull-left" style="width: 100%; padding: 5px; text-decoration: underline;">Thêm chi tiết phiếu nhập kho</h4>
                </div>
                <div class="over-H">
                    <div class="form-group row show-box" style="padding: 10px; height: 280px">
                        <div class="col-md-12">
                          <div class="col-xs-2">
      
                            <label>Tên hàng</label>
                            <p-autoComplete #autoProduct (onSelect)="getProductAutocomplete($event)" name="searchSuggestions" [(ngModel)]="suggestionProduct"
                              [suggestions]="filteredProductsSingle" (completeMethod)="filterProductSingle($event)" field="Name"
                              #product="ngModel" [size]="30" name="product" [minLength]="1"></p-autoComplete>
                          </div>
      
                          <div class="col-xs-2">
                            <label for="ex2">Màu sắc</label>
                            <p-autoComplete #autoColor (onSelect)="getColorAutocomplete($event)" name="searchSuggestions" [(ngModel)]="suggestionColor"
                              [suggestions]="filteredColorsSingle" (completeMethod)="filterColorSingle($event)" field="Name" #color="ngModel"
                              name="color" [size]="30" [minLength]="1"></p-autoComplete>
                          </div>
      
                          <div class="col-xs-2">
                            <label for="ex2">Kích cở</label>
                            <p-autoComplete #autoSize (onSelect)="getSizeAutocomplete($event)" name="searchSuggestions" [(ngModel)]="suggestionSize" [suggestions]="filteredSizesSingle"
                              (completeMethod)="filterSizeSingle($event)" field="Name" #size="ngModel" name="size" [size]="30" [minLength]="1"></p-autoComplete>
                          </div>
      
                          <div class="col-xs-1">
                            <label for="ex2">Đơn vị</label>
                            <p-autoComplete #autoUnit (onSelect)="getUnitAutocomplete($event)" name="searchSuggestions" [(ngModel)]="suggestionUnit" [suggestions]="filteredUnitsSingle"
                              (completeMethod)="filterUnitSingle($event)" field="Name" #unit="ngModel" name="unit" [size]="30" [minLength]="1"></p-autoComplete>
                          </div>
      
                          <div class="col-xs-1">
                            <label for="ex2">Số lượng</label>
                            <input class="form-control" [(ngModel)]="entity.Quantity" #quantity="ngModel" name="quantity" type="number">
                          </div>
                          <div class="col-xs-1">
                            <label for="ex2">Giá</label>
                            <input class="form-control" (keydown.Tab)="onKeyTotal($event)" [(ngModel)]="entity.Price" #price="ngModel" name="price" type="number" type="number">
                          </div>
                          <div class="col-xs-1">
                            <label for="ex2">Thành tiền</label>
                            <input class="form-control" name="total" [(ngModel)]="entity.Total" name="total" type="number">
                          </div>
                          <div class="col-xs-2 f-right">
                            <a class="btn btn-success mt-24" (click)="addexportDetails()">Thêm</a>
                          </div>
                        </div>
                        <div *ngIf="exportDetails.length > 0">
                            <div class="col-md-12" style="margin-top: 40px;" *ngFor="let item of exportDetails" >
                                <div class="col-xs-2">
                                  <label>Tên hàng</label>
                                  <span class="form-control">{{item.ProductName}}</span>
                                </div>
                                <div class="col-xs-2">
                                  <label for="ex2">Màu sắc</label>
                                  <span class="form-control">{{item.ColorName}}</span>
                                </div>
                                <div class="col-xs-2">
                                  <label for="ex2">Kích cở</label>
                                  <span class="form-control">{{item.SizeName}}</span>
                                </div>
                                <div class="col-xs-1">
                                  <label for="ex2">Đơn vị</label>
                                  <span class="form-control">{{item.UnitName}}</span>
                                </div>
                                <div class="col-xs-1">
                                  <label for="ex2">Số lượng</label>
                                  <span class="form-control">{{item.Quantity}}</span>
                                </div>
                                <div class="col-xs-1">
                                  <label for="ex2">Giá</label>
                                  <span class="form-control">{{item.Price}}</span>
                                </div>
                                <div class="col-xs-1">
                                  <label for="ex2">Thành tiền</label>
                                  <span class="form-control">{{item.Total}}</span>
                                </div>
                                <div class="col-xs-2 f-right">
                                  <button class="btn btn-primary" (click)="editItemById(item.ID)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  </button>
                                  <button class="btn btn-danger" (click)="deleteItemById(item.ID)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </button>
                                </div>
                              </div>
                        </div>
                        <div *ngIf="exportDetails.length == 0">
                          <div class="text-none">
                              <span class="text-danger export-text">KHÔNG CÓ SẢN PHẨM</span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-12 f-right">
                  <span class="text txt">Tổng thành tiền:
                    <strong>{{totalAllMoney | number}}</strong>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 f-right">
                  <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger">Hủy bỏ</button>
                  <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>