.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.import-text{
    height: 130px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
.show-box{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px 2px;
}
.height-s{
  height: 35px;
}
.form-control{
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}
input:focus { 
  outline: none !important;
  border-bottom:1px solid blue;
  box-shadow: 0 0 10px #719ECE;
}
.f-right{
  text-align: right !important;
  margin-top: 10px;
}
.f-left{
  float: left;
}
.txt{
  font-size: 20px;
  font-family: -webkit-body;
}